@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@4,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-2: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
    --color-blue: #10a19d;
    --color-purple: #540375;
    --color-orange: #ff7000;
    --color-yellow: #ffbf00;
}

.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: 202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

.container {
    font-family: 'Poppins', sans-serif;
    display: grid;
    justify-content: center;
}

.navbar {
    background-color: var(--color-orange);
    border-radius: var(--border-radius-2);
    height: 100px;
    width: 120%;
    display: grid;
    justify-content: left;
    margin-left: -1%;
    position: fixed;
    top: 0%;
}

.navbar ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 80px 100px 100px 120px;
    gap: 15px;
    align-items: center;
    margin-left: 10%;
}

.navbar ul li a {
    margin-top: 2%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.navbar ul li span:first-child {
    text-align: center;
}

.main {
    margin-top: 10%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
}

.main .presentaion {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main .words {
    text-align: center;
    font-size: 2rem;
    margin-top: 20%;
    font-weight: bold;
    color: var(--color-orange);
}

.second-presntation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-left: 12%;
    margin-top: -15%;
}

a {
    text-decoration: none;
}

#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.testimonial-heading {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-heading h1 {
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
}

.testimonial-heading span {
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.testimonial-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-box {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #979797;
    font-size: 0.8rem;
}

.reviews {
    color: #f9d71c;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p {
    font-size: 0.9rem;
    color: #4b4b4b;
}

.testimonial-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

@media(max-width:1060px) {
    .testimonial-box {
        width: 45%;
        padding: 10px;
    }
}

@media(max-width:790px) {
    .testimonial-box {
        width: 100%;
    }
    .testimonial-heading h1 {
        font-size: 1.4rem;
    }
}

@media(max-width:340px) {
    .box-top {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews {
        margin-top: 10px;
    }
}

::selection {
    color: #ffffff;
    background-color: #252525;
}

.footer-basic {
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

.list .list-item {
    display: inline-block;
}

#cars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.car {
    display: grid;
    justify-content: center;
    width: 400px;
    height: 430px;
    background: var(--color-background);
    border-radius: var(--card-border-radius);
}

.car .car-image {
    margin-top: 3%;
}

.car .card-body,
.car .card-footer {
    display: grid;
    justify-content: center;
}

.car .card-footer button {
    height: 50px;
    width: 50px;
    border-radius: var(--border-radius-1);
    background-color: var(--color-success);
    border: 0;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.car .card-body {
    text-align: center;
}

.title {
    color: var(--color-orange);
    text-align: center;
    font-size: 5rem;
}